In [104]:
import pandas as pd 
import numpy as np

In [105]:
teen_data = pd.read_csv('LMPD_CleanedData_YouthCrimeFull_2023-2024.csv')
pd.set_option('display.max_rows', 10)
teen_data.set_index('Date')

,Charges,Charges Sequence #,Arrest #,Age
Date,,,,
2023-03-18,INVOLUNTARY HOSPITALIZATION OF MENTALLY ILL - ...,1.0,23018261,17
2023-03-10,ROBBERY - 1ST DEGREE 515.020 12002 120,1.0,9426220-1,15
2023-01-06,CRIMINAL MISCHIEF - 1ST DEGREE 512.020 01401 290,1.0,DM90637-1,13
2023-07-16,ASSAULT-3RD DEGREE-POLICE/PROBATION OFFICER-ID...,2.0,DQ55337,14
2023-07-16,MENACING 508.050 00803 13C,1.0,DQ55337,14
...,...,...,...,...
2023-09-17,NO OPERATORS/MOPED LICENSE 186.410(1) 00380 999,2.0,P463521,17
2023-09-17,NO OR EXPIRED REGISTRATION PLATES 186.170 0042...,3.0,P463521,17
2023-09-17,"RECEIVING STOLEN PROPERTY $10,000 OR MORE 514....",1.0,P463522,17
2023-01-05,"FAILURE TO APPEAR, CITATION FOR MISDEMEANOR 43...",1.0,P469742-1,14
2023-10-31,"RECEIVING STOLEN PROPERTY $1,000 < $10,000 514...",1.0,P958498,16

In [128]:
guns_demographics = pd.read_csv('LMPD_JuvenilesWithGunsClean_Jan23-Dec23.csv')
pd.set_option('display.max_rows', 10)
guns_demographics.value_counts('Agency Name')
guns_demographics.shape
guns_demographics = guns_demographics.drop(columns=['Agency Name', 'Gender', 'Race', 'Ethnicity', 'Charges Classification','Arrest Type'])
guns_demographics

AttributeError: 'DataFrameGroupBy' object has no attribute 'Month'

In [127]:
#Understanding the different charges in the kids arrested for gun possession 
pd.set_option('display.max_rows', 20)

AttributeError: 'DataFrameGroupBy' object has no attribute 'Month'

In [ ]:
teen_data_charges = teen_data.drop(columns=['Charges Sequence #'])
teen_data_charges

In [ ]:
guns_demographics.Charges.value_counts()

In [ ]:
#Key words in guns_demographics charges: 'HANDGUN' 'FIREARM' 'WEAPON'

In [129]:

#This has the filter to show where the rise in gun violence. Need columns, date, crime and age. 

handgun = ['POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520','RECEIVING STOLEN PROPERTY (FIREARM) 514.110 28020 280', 'CARRYING A CONCEALED DEADLY WEAPON 527.020 01501 520','POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520', 'TBUT OR DISP FIREARM 514.030 23100 23H', 'POSSESSION OF HANDGUN BY CONVICTED FELON 527.040 52197 520','UNLAWFUL POSSESSION OF WEAPON ON SCHOOL PROPERTY 527.070 52204 520', 'UNLAWFULLY PROV/PERMIT MINOR TO POSSESS HANDGUN 527.110 52203 520','USING RESTRICTED AMMO DURING A FELONY (NO SHOTS) 527.080(2)(A) 02549 520', 'POSSESSION OF DEFACED FIREARM 527.050 01504 520','POSSESSION OF FIREARM BY CONVICTED FELON 527.040 52196 520']
teen_gun_filter_df= teen_data[teen_data['Charges'].isin(handgun)]


dates_teen_full_df = teen_gun_filter_df[(teen_gun_filter_df['Date'] > '2023-01-01') & (teen_gun_filter_df['Date'] < '2023-12-31')]
dates_teen_full_df

            Date                                            Charges  Age
34    2023-02-20   POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520   14
329   2023-02-20  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   17
347   2023-02-22  RECEIVING STOLEN PROPERTY (FIREARM) 514.110 28...   17
348   2023-02-22  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   17
382   2023-04-12  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   15
...          ...                                                ...  ...
4300  2023-03-03  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   17
4302  2023-03-03  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   17
4322  2023-01-10  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   16
4340  2023-08-01  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   15
4344  2023-09-17  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...   17

[221 rows x 3 columns]

In [ ]:
##Building final dataframe 

#age is rows 
#months is columns 
#data is date and total number of charges vs. gun charges

In [ ]:

##filter year in data and match data set time frames to show rise in crimes with guns in teens by month
import pandas as pd
from datetime import datetime

month_dict = {1:'January', 
              2:'February', 
              3: 'March',
              4: 'April',
              5: 'May', 
              6: 'June',
              7: 'July',
              8: 'August',
              9: 'September', 
              10: 'October',
              11: 'November',
              12: 'December'}
month_name = pd.Series([month_dict], name = 'Months')


teen_date_values = pd.DatetimeIndex(teen_data["Date"])

teen_data['Year'] = teen_date_values.year
teen_data['Month'] = teen_date_values.month

teen_data['Month'] = teen_data['Month'].map(month_dict)

total_arrest_month = teen_data['Month'].value_counts()

In [ ]:
Dates_to_months = pd.DataFrame({'January': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16', '2023-01-17','2023-01-18', '2023-01-19','2023-01-20','2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30', '2023-01-31'],})

In [137]:
import pandas as pd
from datetime import datetime

month_dict = {1:'January', 
              2:'February', 
              3: 'March',
              4: 'April',
              5: 'May', 
              6: 'June',
              7: 'July',
              8: 'August',
              9: 'September', 
              10: 'October',
              11: 'November',
              12: 'December'}
month_name = pd.Series([month_dict], name = 'Months')


gun_date_values = pd.DatetimeIndex(guns_demographics['Date'])

guns_demographics['Year'] = gun_date_values.year
guns_demographics['Month'] = gun_date_values.month

guns_demographics['Month'] = guns_demographics['Month'].map(month_dict)



age_groups = [13, 14, 15, 16, 17]

In [ ]:
guns_demographics.sort_index()

In [ ]:

#list_of_months = ['January', 'February', 'March','April','May', 'June','July','August', 'September', 'October','November', 'December']
#pd.DataFrame({[age_groups:[13, 14, 15, 16, 17], [list_of_months : ['January', 'February', 'March','April','May', 'June','July','August', 'September', 'October','November', 'December']] ]})

In [ ]:
teen_data.Age.value_counts()

In [ ]:
guns_demographics.Age.value_counts()

In [133]:
dates_teen_full_df = teen_data[(teen_data['Date'] > '2023-01-01') & (teen_data['Date'] < '2023-12-31')]
dates_teen_full_df
#stolen_charges_dates =  dates_teen_full_df[dates_teen_full_df['Charges'] == 'RECEIVING STOLEN PROPERTY $10,000 OR MORE 514.110(3)(c) 28014 280']
#teen_charges_dates = dates_teen_full_df[dates_teen_full_df['Charges'] == 'POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520']

            Date                                            Charges  Age
0     2023-03-18  INVOLUNTARY HOSPITALIZATION OF MENTALLY ILL - ...   17
1     2023-03-10             ROBBERY - 1ST DEGREE 515.020 12002 120   15
2     2023-01-06   CRIMINAL MISCHIEF - 1ST DEGREE 512.020 01401 290   13
3     2023-07-16  ASSAULT-3RD DEGREE-POLICE/PROBATION OFFICER-ID...   14
4     2023-07-16                         MENACING 508.050 00803 13C   14
...          ...                                                ...  ...
4345  2023-09-17    NO OPERATORS/MOPED LICENSE 186.410(1) 00380 999   17
4346  2023-09-17  NO OR EXPIRED REGISTRATION PLATES 186.170 0042...   17
4347  2023-09-17  RECEIVING STOLEN PROPERTY $10,000 OR MORE 514....   17
4348  2023-01-05  FAILURE TO APPEAR, CITATION FOR MISDEMEANOR 43...   14
4349  2023-10-31  RECEIVING STOLEN PROPERTY $1,000 < $10,000 514...   16

[2204 rows x 3 columns]

In [139]:
dates_gun_full_df = guns_demographics[(guns_demographics['Date'] > '2023-01-01') & (guns_demographics['Date'] < '2023-12-31')]
dates_gun_full_df.groupby('Month').Age.value_counts()
#poss_charges_dates = dates_gun_full_df[dates_gun_full_df['Charges'] == 'POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520']

Month      Age
April      15     6
           16     5
           17     4
           14     1
August     17     7
                 ..
October    13     1
September  17     8
           16     7
           15     6
           14     1
Name: count, Length: 46, dtype: int64

In [ ]:
teen_data.Charges.value_counts()

In [ ]:
import pandas as pd 
import numpy as np

teen_final = dates_teen_full_df
gun_final = dates_gun_full_df

 
gun_poss = pd.DataFrame({'Gun Possession': gun_final})
teen_full =pd.DataFrame({'Teen Crime Totals': teen_final})

In [ ]:
teen_full

In [ ]:
gun_poss