In [1]:
import pandas as pd 
import numpy as np

In [2]:
teen_data = pd.read_csv('LMPD_CleanedData_YouthCrimeFull_2023-2024.csv')
pd.set_option('display.max_rows', 10)
teen_data.set_index('Date')

,Charges,Charges Sequence #,Arrest #,Age
Date,,,,
2023-03-18,INVOLUNTARY HOSPITALIZATION OF MENTALLY ILL - ...,1.0,23018261,17
2023-03-10,ROBBERY - 1ST DEGREE 515.020 12002 120,1.0,9426220-1,15
2023-01-06,CRIMINAL MISCHIEF - 1ST DEGREE 512.020 01401 290,1.0,DM90637-1,13
2023-07-16,ASSAULT-3RD DEGREE-POLICE/PROBATION OFFICER-ID...,2.0,DQ55337,14
2023-07-16,MENACING 508.050 00803 13C,1.0,DQ55337,14
...,...,...,...,...
2023-09-17,NO OPERATORS/MOPED LICENSE 186.410(1) 00380 999,2.0,P463521,17
2023-09-17,NO OR EXPIRED REGISTRATION PLATES 186.170 0042...,3.0,P463521,17
2023-09-17,"RECEIVING STOLEN PROPERTY $10,000 OR MORE 514....",1.0,P463522,17
2023-01-05,"FAILURE TO APPEAR, CITATION FOR MISDEMEANOR 43...",1.0,P469742-1,14
2023-10-31,"RECEIVING STOLEN PROPERTY $1,000 < $10,000 514...",1.0,P958498,16

In [3]:
guns_demographics = pd.read_csv('LMPD_JuvenilesWithGunsClean_Jan23-Dec23.csv')
pd.set_option('display.max_rows', 10)
guns_demographics.value_counts('Agency Name')
guns_demographics.shape
guns_demographics = guns_demographics.drop(columns=['Agency Name', 'Gender', 'Race', 'Ethnicity', 'Charges Classification','Arrest Type'])
guns_demographics

           Date  Age                                            Charges
0    2022-01-05   16   POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520
1    2022-01-14   14  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...
2    2022-01-14   15  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...
3    2022-01-14   17   POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520
4    2022-01-14   17  UNLAWFULLY PROV/PERMIT MINOR TO POSSESS HANDGU...
..          ...  ...                                                ...
485  2023-12-14   15  CARRYING A CONCEALED DEADLY WEAPON 527.020 015...
486  2023-12-14   15  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...
487  2023-12-15   16  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...
488  2023-12-17   15  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...
489  2023-12-20   17  POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...

[490 rows x 3 columns]

In [4]:
#Understanding the different charges in the kids arrested for gun possession 
pd.set_option('display.max_rows', 20)

In [21]:
teen_data_charges = teen_data.drop(columns=['Charges Sequence #', 'Arrest #'])
teen_data_charges

,Date,Charges,Age,Year,Month
0,2023-03-18,INVOLUNTARY HOSPITALIZATION OF MENTALLY ILL - ...,17,2023,March
1,2023-03-10,ROBBERY - 1ST DEGREE 515.020 12002 120,15,2023,March
2,2023-01-06,CRIMINAL MISCHIEF - 1ST DEGREE 512.020 01401 290,13,2023,January
3,2023-07-16,ASSAULT-3RD DEGREE-POLICE/PROBATION OFFICER-ID...,14,2023,July
4,2023-07-16,MENACING 508.050 00803 13C,14,2023,July
...,...,...,...,...,...
4345,2023-09-17,NO OPERATORS/MOPED LICENSE 186.410(1) 00380 999,17,2023,September
4346,2023-09-17,NO OR EXPIRED REGISTRATION PLATES 186.170 0042...,17,2023,September
4347,2023-09-17,"RECEIVING STOLEN PROPERTY $10,000 OR MORE 514....",17,2023,September
4348,2023-01-05,"FAILURE TO APPEAR, CITATION FOR MISDEMEANOR 43...",14,2023,January
4349,2023-10-31,"RECEIVING STOLEN PROPERTY $1,000 < $10,000 514...",16,2023,October

In [6]:
guns_demographics.Charges.value_counts()

Charges
POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520                         278
RECEIVING STOLEN PROPERTY (FIREARM) 514.110 28020 280                        80
CARRYING A CONCEALED DEADLY WEAPON 527.020 01501 520                         56
POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520                             36
TBUT OR DISP FIREARM 514.030 23100 23H                                       21
POSSESSION OF HANDGUN BY CONVICTED FELON 527.040 52197 520                    6
UNLAWFUL POSSESSION OF WEAPON ON SCHOOL PROPERTY 527.070 52204 520            5
UNLAWFULLY PROV/PERMIT MINOR TO POSSESS HANDGUN 527.110 52203 520             2
USING RESTRICTED AMMO DURING A FELONY (NO SHOTS) 527.080(2)(A) 02549 520      2
POSSESSION OF DEFACED FIREARM 527.050 01504 520                               2
POSSESSION OF FIREARM BY CONVICTED FELON 527.040 52196 520                    2
Name: count, dtype: int64

In [7]:
#Key words in guns_demographics charges: 'HANDGUN' 'FIREARM' 'WEAPON'

In [8]:

#This has the filter to show where the rise in gun violence. Need columns, date, crime and age. 

handgun = ['POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520','RECEIVING STOLEN PROPERTY (FIREARM) 514.110 28020 280', 'CARRYING A CONCEALED DEADLY WEAPON 527.020 01501 520','POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520', 'TBUT OR DISP FIREARM 514.030 23100 23H', 'POSSESSION OF HANDGUN BY CONVICTED FELON 527.040 52197 520','UNLAWFUL POSSESSION OF WEAPON ON SCHOOL PROPERTY 527.070 52204 520', 'UNLAWFULLY PROV/PERMIT MINOR TO POSSESS HANDGUN 527.110 52203 520','USING RESTRICTED AMMO DURING A FELONY (NO SHOTS) 527.080(2)(A) 02549 520', 'POSSESSION OF DEFACED FIREARM 527.050 01504 520','POSSESSION OF FIREARM BY CONVICTED FELON 527.040 52196 520']
teen_gun_filter_df= teen_data[teen_data['Charges'].isin(handgun)]


dates_teen_full_df = teen_gun_filter_df[(teen_gun_filter_df['Date'] > '2023-01-01') & (teen_gun_filter_df['Date'] < '2023-12-31')]
dates_teen_full_df

,Date,Charges,Charges Sequence #,Arrest #,Age
34,2023-02-20,POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520,3.0,DU98325-1,14
329,2023-02-20,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,3.0,DZ67702-1,17
347,2023-02-22,RECEIVING STOLEN PROPERTY (FIREARM) 514.110 28...,1.0,DZ79541-1,17
348,2023-02-22,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,3.0,DZ79541-1,17
382,2023-04-12,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,1.0,EA12102,15
...,...,...,...,...,...
4300,2023-03-03,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,1.0,P463030,17
4302,2023-03-03,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,1.0,P463030,17
4322,2023-01-10,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,1.0,P463419-1,16
4340,2023-08-01,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2.0,P463493,15
4344,2023-09-17,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,1.0,P463521,17

In [9]:
##Building final dataframe 

#age is rows 
#months is columns 
#data is date and total number of charges vs. gun charges

In [10]:

##filter year in data and match data set time frames to show rise in crimes with guns in teens by month
import pandas as pd
from datetime import datetime

month_dict = {1:'January', 
              2:'February', 
              3: 'March',
              4: 'April',
              5: 'May', 
              6: 'June',
              7: 'July',
              8: 'August',
              9: 'September', 
              10: 'October',
              11: 'November',
              12: 'December'}
month_name = pd.Series([month_dict], name = 'Months')


teen_date_values = pd.DatetimeIndex(teen_data["Date"])

teen_data['Year'] = teen_date_values.year
teen_data['Month'] = teen_date_values.month

teen_data['Month'] = teen_data['Month'].map(month_dict)

total_arrest_month = teen_data['Month'].value_counts()

In [11]:
Dates_to_months = pd.DataFrame({'January': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16', '2023-01-17','2023-01-18', '2023-01-19','2023-01-20','2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28', '2023-01-29', '2023-01-30', '2023-01-31'],})

In [12]:
import pandas as pd
from datetime import datetime

month_dict = {1:'January', 
              2:'February', 
              3: 'March',
              4: 'April',
              5: 'May', 
              6: 'June',
              7: 'July',
              8: 'August',
              9: 'September', 
              10: 'October',
              11: 'November',
              12: 'December'}
month_name = pd.Series([month_dict], name = 'Months')


gun_date_values = pd.DatetimeIndex(guns_demographics['Date'])

guns_demographics['Year'] = gun_date_values.year
guns_demographics['Month'] = gun_date_values.month

guns_demographics['Month'] = guns_demographics['Month'].map(month_dict)



age_groups = [13, 14, 15, 16, 17]

In [13]:
guns_demographics.sort_index()

,Date,Age,Charges,Year,Month
0,2022-01-05,16,POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520,2022,January
1,2022-01-14,14,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2022,January
2,2022-01-14,15,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2022,January
3,2022-01-14,17,POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520,2022,January
4,2022-01-14,17,UNLAWFULLY PROV/PERMIT MINOR TO POSSESS HANDGU...,2022,January
...,...,...,...,...,...
485,2023-12-14,15,CARRYING A CONCEALED DEADLY WEAPON 527.020 015...,2023,December
486,2023-12-14,15,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2023,December
487,2023-12-15,16,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2023,December
488,2023-12-17,15,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2023,December
489,2023-12-20,17,POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 5220...,2023,December

In [14]:

#pd.DataFrame({[age_groups:[13, 14, 15, 16, 17], [list_of_months : ['January', 'February', 'March','April','May', 'June','July','August', 'September', 'October','November', 'December']] ]})

In [15]:
teen_data.Age.value_counts()

Age
17    1301
16    1042
15     992
14     614
13     401
Name: count, dtype: int64

In [16]:
guns_demographics.Age.value_counts()

Age
17    173
16    148
15    109
14     36
13     24
Name: count, dtype: int64

In [17]:
dates_teen_full_df = teen_data[(teen_data['Date'] > '2023-01-01') & (teen_data['Date'] < '2023-12-31')]
dates_teen_full_df
#stolen_charges_dates =  dates_teen_full_df[dates_teen_full_df['Charges'] == 'RECEIVING STOLEN PROPERTY $10,000 OR MORE 514.110(3)(c) 28014 280']
#teen_charges_dates = dates_teen_full_df[dates_teen_full_df['Charges'] == 'POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520']

,Date,Charges,Charges Sequence #,Arrest #,Age,Year,Month
0,2023-03-18,INVOLUNTARY HOSPITALIZATION OF MENTALLY ILL - ...,1.0,23018261,17,2023,March
1,2023-03-10,ROBBERY - 1ST DEGREE 515.020 12002 120,1.0,9426220-1,15,2023,March
2,2023-01-06,CRIMINAL MISCHIEF - 1ST DEGREE 512.020 01401 290,1.0,DM90637-1,13,2023,January
3,2023-07-16,ASSAULT-3RD DEGREE-POLICE/PROBATION OFFICER-ID...,2.0,DQ55337,14,2023,July
4,2023-07-16,MENACING 508.050 00803 13C,1.0,DQ55337,14,2023,July
...,...,...,...,...,...,...,...
4345,2023-09-17,NO OPERATORS/MOPED LICENSE 186.410(1) 00380 999,2.0,P463521,17,2023,September
4346,2023-09-17,NO OR EXPIRED REGISTRATION PLATES 186.170 0042...,3.0,P463521,17,2023,September
4347,2023-09-17,"RECEIVING STOLEN PROPERTY $10,000 OR MORE 514....",1.0,P463522,17,2023,September
4348,2023-01-05,"FAILURE TO APPEAR, CITATION FOR MISDEMEANOR 43...",1.0,P469742-1,14,2023,January
4349,2023-10-31,"RECEIVING STOLEN PROPERTY $1,000 < $10,000 514...",1.0,P958498,16,2023,October

In [18]:
dates_gun_full_df = guns_demographics[(guns_demographics['Date'] > '2023-01-01') & (guns_demographics['Date'] < '2023-12-31')]





#poss_charges_dates = dates_gun_full_df[dates_gun_full_df['Charges'] == 'POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520']

In [19]:
teen_data.Charges.value_counts()

Charges
RECEIVING STOLEN PROPERTY $10,000 OR MORE 514.110(3)(c) 28014 280                  379
POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520                                298
INVOLUN ADMIT MENTAL HEALTH HOSP - UNIFIED JUV CODE 645.150 02804 90Z              278
FLEEING OR EVADING POLICE - 2ND DEGREE (ON FOOT) 520.100 00199 90Z                 211
RECEIVING STOLEN PROPERTY $1,000 < $10,000 514.110(3)(b) 28012 280                 178
                                                                                  ...
ASSAULT-3RD DEGREE-INMATE ASSAULT ON CORRECTIONS EMPLOYEE 508.025(1B) 13114 13B      1
TBUT OR DISP FROM BUILDING $1,000 < $10,000 514.030 24162 23D                        1
INTIMIDATING A PARTICIPANT IN LEGAL PROCESS 524.040 51201 13C                        1
INDECENT EXPOSURE - 1ST DEGREE - 1ST OFFENSE 510.148 01750 90Z                       1
ASSAULT 3RD-DEPT SOCIAL SERVICES WORKER 508.025(1A3) 13115 13B                       1
Name: count, Length: 229, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

#Loading in Data 
teen_data = pd.read_csv('LMPD_CleanedData_YouthCrimeFull_2023-2024.csv')
teen_data.set_index('Date')
teen_data = teen_data.drop(columns=['Charges Sequence #', 'Arrest #']) #Remove unwanted info

guns_demographics = pd.read_csv('LMPD_JuvenilesWithGunsClean_Jan23-Dec23.csv')
guns_demographics = guns_demographics.drop(columns=['Agency Name', 'Gender', 'Race', 'Ethnicity', 'Charges Classification','Arrest Type']) #Remove unwanted info
#Cleaning data by dates 

month_dict = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June',7:'July',8:'August',9:'September',  10:'October',11:'November',12:'December'}

teen_date_values = pd.DatetimeIndex(teen_data["Date"]) #convert Date column
teen_data['Year'] = teen_date_values.year #seperate the year
teen_data['Month'] = teen_date_values.month #seperate the month 
teen_data['Month'] = teen_data['Month'].map(month_dict)

gun_date_values = pd.DatetimeIndex(guns_demographics['Date']) #convert gun Date column

guns_demographics['Year'] = gun_date_values.year #separate the year 
guns_demographics['Month'] = gun_date_values.month #seperate the month 

guns_demographics['Month'] = guns_demographics['Month'].map(month_dict)


#sorted by date range
dates_teen_full_df = teen_data[(teen_data['Date'] > '2023-01-01') & (teen_data['Date'] < '2023-12-31')]
dates_gun_full_df = guns_demographics[(guns_demographics['Date'] > '2023-01-01') & (guns_demographics['Date'] < '2023-12-31')]

list_of_months = ['January', 'February', 'March','April','May', 'June','July','August', 'September', 'October','November', 'December']



crimes_per_month = dates_teen_full_df.Month.value_counts()
crimes_per_month.index = pd.CategoricalIndex(crimes_per_month.index, categories=list_of_months, ordered=True)
crimes_per_month = crimes_per_month.sort_index()


guns_per_month = dates_gun_full_df.Month.value_counts()
guns_per_month.index = pd.CategoricalIndex(guns_per_month.index, categories=list_of_months, ordered=True)
guns_per_month= guns_per_month.sort_index()

gun_final = pd.DataFrame({'Gun Possession Charges': guns_per_month})

           Gun Possession Charges
Month
January                         9
February                       32
March                          18
April                          16
May                             9
June                           29
July                           15
August                         17
September                      22
October                         8
November                       11
December                       11

In [43]:
total_crime_final = pd.DataFrame({'Total Teen Arrests': crimes_per_month})
total_crime_final

           Total Teen Arrests
Month
January                   188
February                  228
March                     210
April                     163
May                       142
June                      189
July                      145
August                    302
September                 211
October                   149
November                  137
December                  140

In [46]:
final = pd.merge(total_crime_final, gun_final, on='Month')
final

           Total Teen Arrests  Gun Possession Charges
Month
January                   188                       9
February                  228                      32
March                     210                      18
April                     163                      16
May                       142                       9
June                      189                      29
July                      145                      15
August                    302                      17
September                 211                      22
October                   149                       8
November                  137                      11
December                  140                      11

In [ ]:
#other theories while cleaning 
#filter full teen data with charges only included in gun charges
#handgun = ['POSS HANDGUN BY MINOR 1ST OFFENSE 527.100 52206 520','RECEIVING STOLEN PROPERTY (FIREARM) 514.110 28020 280', 'CARRYING A CONCEALED DEADLY WEAPON 527.020 01501 520','POSS HANDGUN BY MINOR 2ND OR > 527.100 52205 520', 'TBUT OR DISP FIREARM 514.030 23100 23H', 'POSSESSION OF HANDGUN BY CONVICTED FELON 527.040 52197 520','UNLAWFUL POSSESSION OF WEAPON ON SCHOOL PROPERTY 527.070 52204 520', 'UNLAWFULLY PROV/PERMIT MINOR TO POSSESS HANDGUN 527.110 52203 520','USING RESTRICTED AMMO DURING A FELONY (NO SHOTS) 527.080(2)(A) 02549 520', 'POSSESSION OF DEFACED FIREARM 527.050 01504 520','POSSESSION OF FIREARM BY CONVICTED FELON 527.040 52196 520']
#gun_filter =teen_data[teen_data['Charges'].isin(handgun)]
#gun_filter

##Building final dataframe